.formInput {
width: 100%;
padding: 1rem 0.75rem;
border: 1px solid #b4bcbc;

outline: none;
color: #383939;
position: relative;
font-size: 1rem;
margin-right: 1rem;

border: 1px solid #fff;
border-radius:5px;
font-weight: bold;
}

.formInput::placeholder {
font-size: 0.875rem;
}

@media screen and (max-width: 768px) {
.formInput {
    padding: 0.75rem 0.75rem;
}
}