.ListItem {
list-style-type: none;
display: grid;
grid-template-columns: auto 1fr auto;
align-items: center;
color: #fff;
position: relative;
background-color: #454e50;
padding: 0.5rem;
border-radius: 5px;
box-shadow: 5px 1px 10px rgba(165, 165, 165, 0.6);
}

.ListItem::before {
padding-right: 0.5rem; 
content: ""; /* Using an empty content */
background: url('/src/media/icon.png') no-repeat; 
background-size: contain;
width: 40px; 
height: 40px; 
margin-right: 0.5rem;

border: 1px solid #fff;
border-radius:10px;
}

.btnRemove {
padding: 0.35rem 0.5rem;
font-size: 0.75rem;
background: none;
color: #fff;
cursor: pointer;
border: 1px solid rgba(255, 255, 255, 0.4);
border-radius: 4px;
transition: 0.3s ease-in-out;
position: relative;
}

.btnRemove:hover {
background-color: rgb(235, 213, 93);
}